*{
    font-family: 'Courier New', Courier, monospace;
}

/* header section style */
.header-section {
    background-image: url('images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
}
.header-title{
    text-align: center;
    height: 300px;
    color: rgb(226, 226, 2);
    position: absolute;
    left: 30%;
    top: 25%; 
}
.header-title h4{
    font-size: 32px;
    margin-bottom: 60px;
    font-weight:bolder;
}
.header-title h2{
    font-size: 70px;
    font-weight:bolder;
    margin-top: -40px;
}

/* discount section style */
.discount-section{
    text-align: center;
}
.discount-section h4{
    color: red;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: -20px;
}
.discount-section h6{
    color: red;
    font-size: 25px;
    font-weight: bold;
}
.discount-section h2{
    color: #070211;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
}