*{
    font-family: 'Courier New', Courier, monospace;
}

/* header section style */
.header-section {
    background-image: url('images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
}
.header-title{
    text-align: center;
    height: 300px;
    color: gold;
    position: absolute;
    left: 30%;
    top: 25%; 
}
.header-title h4{
    font-size: 32px;
    margin-bottom: 60px;
    font-weight:bolder;
}
.header-title h2{
    font-size: 70px;
    font-weight:bolder;
    margin-top: -40px;
}

/* discount section style */
.discount-section{
    text-align: center;
    margin-top: 200px;
}
.discount-section h4{
    color: red;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: -20px;
}
.discount-section h6{
    color: red;
    font-size: 25px;
    font-weight: bold;
}
.discount-section h2{
    color: #070211;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
}

/* main collection section style */
.collection-section {
   margin-top: 200px;
}
.collection-headings{
    margin: 40px 10px;
}
.collection-section h6{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.collection-section h3{
    font-size: 55px;
    font-weight: bolder;
    margin-top: -55px;
}
.collection-section p{
    font-size: 18px;
    margin-top: -35px;
    color: rgb(94, 94, 214)
}
.collection-img{
    display:flex;
}
.collection-img img{
    margin: 10px;
}
.collection-img img:hover{
    border: solid 1px black;
    border-radius: 17px;
    box-shadow: 0 0 10px;
}

/* newsletter section styles */
.newsletter-section{
    width: 1320px;
    height: 616px;
    background-color: #ff000015;
    text-align: center;
    margin: 200px 10px;
}
.newsletter-section img{
    margin-top: 120px;
}
.newsletter-section h2{
    font-weight: bolder;
    font-size: 40px;;
    margin-top: 50px;
}
.newsletter-section p{
    margin-top: 40px;
    margin-bottom: 40px;
}
.newsletter-email{
    padding: 10px 40px;
    font-size: 20px;
    border: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-right: 0;
}
.newsletter-btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: -10px;
}

/* footer section styles */
.footer-section{
    background-color: #2c2a31;
    width: 1320px;
    height: 500px;
}
.footer-first-section{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 150px;
    border-bottom: solid 1px #8b8b8b;
}
#phone{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: -16px; 
}
#phone img{
    height: 80%;
    margin-right: 10px;
}
#website{
 display: flex;
 justify-content: center;
 align-items: center;
}
#website img{
    height: 80%;
    margin-right: 10px;
}

.social-media{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: solid 1px #8b8b8b;
}
.social-media img{
    margin: 10px;
}
.footer-last-section{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}